body {
  background-color: rgb(192, 99, 32);
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

.main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(41, 103, 105);
  color: aliceblue;
  width: 500px;
  height: 300px;
  border-radius: 15px;
  border: 2px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
  margin-left: 1em;
}

.result {
  font-size: larger;
  font-weight: bolder;
}

#outputWgt {
  /* text-decoration: underline; */
  font-size: 22px;
  color: gold;
}
#inputWgt {
  width: 80px;
}

.rev-btn-wrap {
  display: flex;
  justify-content: center;
}
#reverse {
  border-radius: 50%;
  font-size: 2em;
  border: none;
}
#reverse:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.5s;
}
